// Note:
// These are the children of the parent "THREAD" element
// defined in`modules/selectorPaths.js`.

// QA_PAIR
.pb-lg {
  // QA_PAIR_CHAT
  .col-span-8 {
    // separate the main containers for easier dev viewing
    > div {
      margin-bottom: 10px;
    }

    // QA_PAIR_CHAT_Q
    > .my-md {
      border: 5px solid red;

      // Q_QUESTION
      .group\/query {
        border: 5px solid black;
        margin: 10px;
        background-color: lime;
      }
      // Q_QUESTION_THREAD_TITLE
      h1.group\/query {
        background-color: yellow;
      }

      // Q_QUESTION_ICON_CONTAINER
      .group\/query + div {
        display: none;
        background-color: aqua;
        max-height: 20px;
      }
    }

    /* QA_PAIR_CHAT_A
     neither the "Question" nor "Related questions" containers */

    > :not(.my-md):not([class='']) {
      border: 5px solid blue;

      // A_SOURCES
      > .mb-lg {
        border: 5px dashed red;
        margin-bottom: 20px;

        // sources - header
        > div > div > .flex {
          border: 5px solid black;
          margin: 10px;

          // sources icon
          [color='super'] > :first-child svg {
            background-color: aqua;
            max-height: 20px;
          }

          // sources title
          [color='super'] > :last-child {
            background-color: pink;
          }
        }

        // sources - content
        > div > div > .-mx-md {
          border: 5px solid black;
          margin: 10px;

          // source menu item
          .grid > div {
            border: 3px solid red;
            margin: 10px;
          }
        }
      }

      // A_ANSWER
      > :not(.mb-lg) {
        border: 5px dashed red;

        // A_ANSWER_HEADER
        > .flex [color='super'] {
          border: 5px solid black;
          margin: 10px;

          // A_ANSWER_HEADER_ICON_CONTAINER
          > :first-child {
            display: none;
            background-color: orange;
            max-height: 20px;
          }

          // ANSWER_HEADER_TITLE
          > :last-child {
            background-color: aqua;
          }
        }

        // A_ANSWER_CONTENT
        > .mb-md {
          border: 5px solid black;
          margin: 10px;
          background-color: orange;
        }

        // A_ANSWER_ICONS_CONTAINER
        > .mt-sm.flex.items-center.justify-between {
          display: none;
          border: 5px solid black;
          margin: 10px;
        }
      }
    }

    // related questions container
    // > :nth-child(3) {
    > [class=''] {
      display: none;

      border: 5px solid orange;

      // RELATED_TITLE
      [color='super'] > :last-child {
        background-color: pink;
      }
      // RELATED_CONTENT
      > div > div > .divide-y {
        border: 5px dashed blue;
      }
      // icons
      svg {
        background-color: aqua;
        max-height: 20px;
      }
    }
  }

  // QA_PAIR_SEARCH
  .col-span-4 {
    display: none;
  }
}

// ASK_FOLLOW_UP ("Ask follow-up" question <input> box)
.pointer-events-none {
  display: none;
}
