@use './hide';

// PAIR_LEFT
.col-span-8 {
  // separate the main containers for easier viewing
  > div {
    margin-bottom: 10px;
  }

  // QUESTION_CONTAINER
  > .my-md {
    border: 5px solid red;

    // QUESTION_TEXT
    h1 {
      border: 5px dashed blue;
    }
  }

  // ANSWER_CONTAINER (neither the "Question" nor "Related questions" containers)
  > :not(.my-md):not([class='']) {
    border: 5px solid blue;

    // ANSWER
    > :not(.mb-lg) {
      border: 5px dashed red;

      // ANSWER_HEADER
      > .flex {
        border: 5px solid black;
        margin: 10px;

        // ANSWER_HEADER_TITLE
        [color='super'] > :last-child {
          background-color: pink;
        }
      }

      // ANSWER_CONTENT
      > .mb-md {
        border: 5px solid black;
        margin: 10px;
      }
    }
  }
}
