.pb-\[144px\] > .fixed.bottom-0 {
  display: none;
}

// THREAD_OUTER_CONTAINER > THREAD_PARENT > THREAD >
.pb-\[144px\] > .relative > div {
  // QA_PAIR
  .pb-lg {
    // QA_PAIR_CHAT
    .col-span-8 {
      // separate the main containers for easier dev viewing
      > div {
        margin-bottom: 10px;
      }

      // QA_PAIR_CHAT_Q
      > .my-md {
        border: 5px solid red;

        // Q_QUESTION
        .group\/query {
          border: 5px solid black;
          margin: 10px;
          background-color: lime;
        }
        // Q_QUESTION_THREAD_TITLE
        h1.group\/query {
          background-color: lightsteelblue;
        }

        // Q_QUESTION_ICON_CONTAINER
        .group\/query + div {
          display: none;
          background-color: aqua;
          max-height: 20px;
        }
      }

      // QA_PAIR_CHAT_A (neither the "Question" nor "Related questions" containers)
      > :not(.my-md):not([class='']) {
        border: 5px solid blue;

        // A_SOURCES
        > .mb-lg {
          display: none;
          border: 5px dashed red;
          margin-bottom: 20px;

          // sources - header
          > div > div > .flex {
            border: 5px solid black;
            margin: 10px;

            // sources icon
            [color='super'] > :first-child svg {
              background-color: aqua;
              max-height: 20px;
            }

            // sources title
            [color='super'] > :last-child {
              background-color: pink;
            }
          }

          // sources - content
          > div > div > .-mx-md {
            border: 5px solid black;
            margin: 10px;

            // source menu item
            .grid > div {
              border: 3px solid red;
              margin: 10px;
            }
          }
        }

        // A_ANSWER
        > :not(.mb-lg) {
          border: 5px dashed red;

          // A_ANSWER_HEADER
          > .flex [color='super'] {
            // border: 5px solid black;
            margin: 10px;

            // A_ANSWER_HEADER_ICON_CONTAINER
            > :first-child {
              display: none;
              background-color: orange;
              max-height: 20px;
            }

            // ANSWER_HEADER_TITLE
            > :last-child {
              display: none;
              background-color: aqua;
            }
          }

          // A_ANSWER_CONTENT
          > .mb-md {
            border: 5px solid black;
            margin: 10px;
            background-color: yellow;
          }

          // A_ANSWER_ICONS_CONTAINER
          > .mt-sm {
            display: none;
            // border: 5px solid black;
            margin: 10px;
          }
        }
      }

      // related questions container
      > [class=''] {
        display: none;

        border: 5px solid orange;

        // RELATED_TITLE
        [color='super'] > :last-child {
          background-color: pink;
        }
        // RELATED_CONTENT
        > div > div > .divide-y {
          border: 5px dashed blue;
        }
        // icons
        svg {
          background-color: aqua;
          max-height: 20px;
        }
      }
    }

    // QA_PAIR_OPTIONS
    .col-span-4 {
      display: none;
    }
  }

  // ASK_FOLLOW_UP
  .pointer-events-none {
    display: none;
  }
}
