.col-span-8 > .my-md h1 + div,
.col-span-8 > :not(.my-md):not([class=""]) > .mb-lg,
.col-span-8 > :not(.my-md):not([class=""]) > :not(.mb-lg) > .flex [color=super] > :first-child,
.col-span-8 > :not(.my-md):not([class=""]) > :not(.mb-lg) > .mt-sm.flex.items-center.justify-between,
.col-span-8 > [class=""] {
  display: none;
}

.col-span-8 > div {
  margin-bottom: 10px;
}
.col-span-8 > .my-md {
  border: 5px solid red;
}
.col-span-8 > .my-md h1 {
  border: 5px dashed blue;
}
.col-span-8 > :not(.my-md):not([class=""]) {
  border: 5px solid blue;
}
.col-span-8 > :not(.my-md):not([class=""]) > :not(.mb-lg) {
  border: 5px dashed red;
}
.col-span-8 > :not(.my-md):not([class=""]) > :not(.mb-lg) > .flex {
  border: 5px solid black;
  margin: 10px;
}
.col-span-8 > :not(.my-md):not([class=""]) > :not(.mb-lg) > .flex [color=super] > :last-child {
  background-color: pink;
}
.col-span-8 > :not(.my-md):not([class=""]) > :not(.mb-lg) > .mb-md {
  border: 5px solid black;
  margin: 10px;
}
